<launch>
	<!-- Disable bond topics by default -->
	<arg name="bond"                            default="true" />
	<arg name="respawn"                         default="$(arg bond)" />
	<arg name="namespace"						default="tum_rgbd" />

	<!-- RGB-D to pointcloud -->
	<group ns="$(arg namespace)">
		<node pkg="nodelet" type="nodelet" name="points_xyzrgb_sw_registered"
	        args="standalone depth_image_proc/point_cloud_xyzrgb" respawn="$(arg respawn)" output="screen">
			
			<remap from="rgb/image_rect_color"        to="/camera/rgb/image_color" />
			<remap from="rgb/camera_info"             to="/camera/rgb/camera_info" />
			<remap from="depth_registered/image_rect" to="/camera/depth/image" />
			<remap from="depth_registered/points"     to="/camera/depth/points" />
		</node>
	</group>

</launch>